.containerInputs {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 0 0 24px 0;
}

.input {
  background-color: transparent;
  color: #000;

  border: 1px solid #ccc;
  border-radius: 4px;

  padding: 5px 5px 5px 35px;

  width: 100%;

  cursor: pointer;
}

.buttonIcon {
  width: 20px;
  height: 20px;

  position: absolute;

  bottom: 9px;
  left: 6px;

  filter: brightness(0) saturate(100%) invert(13%) sepia(95%) saturate(3976%) hue-rotate(221deg) brightness(97%) contrast(100%);
}

.timeButton {
  border-bottom: 1px solid rgb(2, 77, 223);

  border-radius: 6px;

  padding: 5px;
}

@media screen and (max-width: 578px) {
  .containerInputs {
    display: flex;
    flex-direction: column;
  }
}